{% extends "base.twig" %}

{% block title %}Usuários{% endblock %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Usuários</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Relação de todos os usuários.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
    </div>
</div>

<div class="list-group">
    {% for user in users %}
    <li class="list-group-item">
        <div class="d-flex align-items-center justify-content-between">
            <div class="flex-grow">
                <span class="fw-bold text-info">{{ user.name|e }}</span><br>
                <em>{{ user.email|e}}</em>
            </div>
            <div>
                <a href="/users/{{ user.id|e }}" class="btn btn-light">
                    <i class="fas fa-eye"></i> Ver
                </a>
                <a href="/users/edit/{{ user.id|e }}" class="btn btn-light">
                    <i class="fas fa-edit"></i> Editar
                </a>
                <a href="/users/delete/{{ user.id|e }}" class="btn btn-danger"
                    onclick="return confirm('Excluir registro?')">
                    <i class="fas fa-times-circle"></i> Excluir
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</div>

<div class="py-3 text-center">
    <a href="/users?page={{ pageInfo.getPreviousPage()??1 }}&perPage={{ pageInfo.getPerPage() }}"
        class="btn btn-secondary {% if not pageInfo.hasPreviousPage() %}disabled{% endif %}">
        &laquo; Anterior
    </a>
    <a href="/users?page={{ pageInfo.getNextPage()??pageInfo.getLastPage() }}&perPage={{ pageInfo.getPerPage() }}"
        class="btn btn-secondary {% if not pageInfo.hasNextPage() %}disabled{% endif %}">
        Próxima &raquo;
    </a>
</div>

<div class="py-3 text-end">
    <a href="/users/add" class="btn btn-success"><i class="fas fa-plus-circle"></i> Incluir</a>
</div>

{% endblock %}